# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Secrets
.env

# ML temporary/cache files
*.log

# Spark
spark-warehouse/
checkpoint/
C:/temp/spark-checkpoint/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db